.searchbox {
    width: 100%;
    margin: 0 4rem 0 4rem;
}

.searchbar {
    position: relative;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: .4rem .6rem .6rem rgba(0, 0, 0, 0.4);
}

.searchbar > input {
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.searchbar > .icon {
    height: 55px;
    width: 55px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
}

.searchbar > .results {
    /*padding: 10px 8px;*/
    max-height: 280px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    border-radius: 5px;
}

.results::-webkit-scrollbar {display: none;}

.results > .li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    cursor: pointer;
}

.results > .li:hover {
    background-color: #efefef;
    color: #000;
}

.image_user {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.list-group-item.active {
    background-color: #6B6B6B;
    border-color: #6B6B6B;
}

@media screen and (max-width: 992px) {
    .searchbox {
        margin: 1rem 0;
    }
}

