.card-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
	display: inline-block;
	max-width: 30rem;
	min-height: 32rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 2rem -1rem rgba(255,255,255,255.5);
}

.card:hover > * {
    color: #fff;
}

.card-image {
	display: block;
	min-height: 5rem;
}

.card-image > img {
	display: block;
	width: 100%;
    max-height: 18rem;
}

.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

}

.card-description {
    min-height: 10rem;
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
    color: #fff;
}

.card-description > p {
	margin: 0;
    color: #8A8A8A;
}

.card-description > .date, .bottom {
    position: absolute;
    bottom: 5px;
}

.title {
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}

.date {
	text-decoration: none;
	color: #fff;
	position: absolute;
	margin: .5rem 1rem;
}