.avatar {
    position: relative;
    max-width: 205px;
}

.circular-image {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

@media screen and (min-width: 992px) {
    .avatar {
        max-width: 205px;
    }
}