/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, .dropdown-menu {
    background-color: #242930;
    font-family: 'Poppins', sans-serif;
}

.bg-header {
    background-color: #1C2329;
}

.bg-image {
    background-image: url('components/app/images/bg-image.jpg');
    min-height: 94vh;
    padding: 0;
    margin: 0;
}

.btn, .btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

.text-justify {
    text-align: justify;
}

.pointer {
    cursor: pointer;
}

.main-color {
    color: #de744c;
}

.bg-main-color {
    background-color: #de744c;
}

.secondary-color {
    color: #deb13c;
}

.bg-secondary-color {
    background-color: #deb13c;
}

.text-white {
    color: #fff;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #242930;
    color: #fff;
    opacity: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login {
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 20px;
}

.form-perfil {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .form-login {
        max-width: 50vw;
    }

    .form-perfil {
        max-width: 40vw;
    }
}

.link {
    text-decoration: none;
}

.description {
    color: #8A8A8A;
}

.small {
    font-size: .7rem;
}

.radius-image {
    display: inline-block;
    position: relative;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
}

.radius-image > img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.upload-image {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-image > input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.button {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 6px 18px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

#results {
    position: absolute;
    margin-top: 2.4rem;
    z-index: 99;
    width: 30%;
}