/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, .dropdown-menu {
    background-color: #242930;
    font-family: 'Poppins', sans-serif;
}

.bg-header {
    background-color: #1C2329;
}

.bg-image {
    background-image: url('components/app/images/bg-image.jpg');
    min-height: 94vh;
    padding: 0;
    margin: 0;
}

.btn, .btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

.pointer {
    cursor: pointer;
}

.main-color {
    color: #de744c;
}

.bg-main-color {
    background-color: #de744c;
}

.secondary-color {
    color: #deb13c;
}

.bg-secondary-color {
    background-color: #deb13c;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #242930;
    color: #fff;
    opacity: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .form-login {
        max-width: 50vw;
    }
}

.link {
    text-decoration: none;
}

.description {
    color: #8A8A8A;
}

/* CSS imágenes */
.card-image {
	display: block;
	min-height: 11rem;
}

.card-image > img {
	display: block;
	width: 100%;
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 100%;
	max-width: 25rem;
    min-height: 27rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 2rem -1rem rgba(255,255,255,255.5);
}

.card:hover > * {
    color: #fff;
}

.card-description {
    min-height: 10rem;
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
    color: #fff;
}

.card-description > p {
	margin: 0;
    color: #8A8A8A;
}

.card-description > .date, .bottom {
    position: absolute;
    bottom: 5px;
}
/* FIN CSS imágenes */

/* CSS Modal Form */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .3s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: #fff;
    display: inline;
    max-height: 700px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}
/* Fin CSS Modal Form */

.small {
    font-size: .7rem;
}

.radius-image {
    display: inline-block;
    position: relative;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
}

.radius-image > img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.upload-image {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-image > input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.button {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 6px 18px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

/* CSS fotografías */
.w-img {
    max-width: 80%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    flex: 1 0 20rem;
    margin: .5rem;
    max-width: 30rem;
    box-shadow: .4rem .6rem .6rem rgba(0, 0, 0, 0.4);
    height: 100%;
    overflow: hidden;
}

.gallery-img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.only-item {
    max-width: 70rem;
    margin: .2rem;
    box-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.only-img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.title-img {
    font-family: Lucida Handwriting;
    color: #CACACA;
    text-align: center;
}
/* Fin CSS fotografías */

#results {
    position: absolute;
    margin-top: 3rem;
    z-index: 99;
}

/* Like button */
#heart {
    position: relative;
    left: -100vw;
    top: 0;
}

#lbl-heart {
    color: #aab8c2;
    cursor: pointer;
    font-size: 3rem;
    align-self: center;  
    transition: color 0.2s ease-in-out;
}

#lbl-heart:hover {
    color: grey;
}

#lbl-heart::selection, #lbl-heart::-moz-selection {
    color: none;
    background: transparent;
}

#heart:checked  + label {
    color: #e2264d;
}
/* End Like button */