.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 1rem;
}

.form-login {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .form-login {
        max-width: 50vw;
    }
}